@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@500&family=Great+Vibes&family=Poppins:ital,wght@0,500;1,200;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
  }

:root{

    --body:#F4F4ED;
    --amarelo:#FF9505;
    --preto:#000000;
    --ciano:#48E5C2;
    --azul:#0267C1;


}

body{
    background-color: var(--body);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
    
}

/* Header e Navbar inicio*/
.sticky{
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
}

.limitar-sessao{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

header{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

/* From https://css.glass */
background: rgba(255, 255, 255, 0.57);
box-shadow: 0 4px 35px rgba(255, 255, 255, 0.1);
backdrop-filter: blur(4.1px);
-webkit-backdrop-filter: blur(4.1px);
border: 1px solid rgba(255, 255, 255, 0.31);


       
  
  
    
}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    color: rgb(0, 0, 0);
    
    
}

.logo{
    height: 100%;
    display: flex;
    gap: 5px;
}

nav span{
    color:#FF9505;
}

nav img{
   width: 30px;
   
}

header nav ul {
    display: flex;
   align-items: center;
   list-style: none;
   height: 100%;
   gap: 30px;
    text-transform: uppercase;
}

a{
    display: flex;
    gap: 5px;
    text-decoration: none;
}


header nav ul li{
    color: rgb(0, 0, 0);
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease-in-out;
    transition: background-color 0.3s, color 0.3s;
    
}

header nav ul  li:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FF9505;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

header nav ul li:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    
}







/*Header e Navbar fim*/



/*Sessão sobre inicio*/

.sobre{
    display: flex;
    align-items: center;
    justify-content:center;
    height: 100vh;
    margin: 0 auto;
  

    
}

span{
    font-weight: bold;
    text-transform: uppercase;
}

.texto-sobre{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 5px;
    border-radius: 25px;
    padding: 50px 20px; /* Ajuste o valor conforme necessário */
    line-height: 30px;
    height: 100vh;
  
}


.sobre .texto-sobre h1{
    font-size: 3em;
   text-align: left;
   text-transform: uppercase;

   
}

.sobre .texto-sobre p {
    font-weight: 200;
   font-size: 1.2em;
   line-height: 1.5;
   
   
   
    
}


.texto-sobre h2{
    color: var(--amarelo);
}




.redes{
    display: flex;
    align-items: center;
    padding: 20px ;
    gap: 30px;
}



.redes  svg{
    border: 2px solid var(--amarelo);
    border-radius: 50%;
    padding: 2px;
    width: 44px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
   fill: #FF9505;
}



.redes svg:hover {
    transform: scale(1.2);
    fill: var(--amarelo);
    border: 2px solid var(--amarelo);
   
}



.boxBtn{
    display: flex;
    align-items: center;
    gap: 30px;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
   
   
}

 .btn1{
    color: white;
    background-color: var(--amarelo);
    width: max-content;
    padding: 10px 15px;
    border-radius: 25px;
    box-shadow: 1px 1px 15px var(--amarelo);
    transition: background-color 0.3s, color 0.3s;
}

 .btn1:hover{
    box-shadow: none;
}

 .btn2{
  border: 3px solid var(--amarelo);
  color: var(--amarelo);
 width: max-content;
  padding: 10px 20px;
  border-radius: 25px;
  transition: background-color 0.3s, color 0.3s;
}

.btn2:hover{
    background-color: var(--amarelo);
    color: white;
}







.imagem{
   

    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
}

.imagem img{
  
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius:25px ;
    box-shadow: 10px 5px 1px 5px #FF9505;
    cursor: pointer;
 
    
}


  

.imagem img:hover{
    box-shadow: 10px 5px 1px 5px rgb(84, 84, 84);
}
/*Sessão sobre fim*/

/*Icone inicio*/
.setabaixo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 20px ;
    margin: 0 auto;
   
   
}

.setabaixo img {
    width: 30px;
    object-fit: cover;
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    animation: heartbeat 1.5s ease-in-out infinite both;
    
}

@-webkit-keyframes  heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }

  /*Icone fim*/

   /*Tecnologias inicio*/

  .sessao-titulo{
    padding: 100px 20px;
    margin: 0 auto;
  }

  .sessao-titulo h1{
    color: var(--amarelo);
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
  }

  .skills{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: center;
    padding: 100px 20px;
    gap: 40px;
    text-transform: uppercase;
   
  }



  .tecnologias{
    margin: 0 auto;
    cursor: pointer;
   

  }

  
  .tecnologias img{
   
   
   
    width: 70px;
    transition: transform 0.3s ease-in-out;
  

  }

  .tecnologias img:hover{
    transform: scale(1.2);
    
  }

  /*tecnologias fim*/
  .texto-link{
    display: inline;
    color: #0267C1;
    font-weight: 600;
}

  /*Cards Inicio*/

.Meus-projetos {
    
   
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   padding: 20px;
   gap: 30px;
    
   
   
   
  
}

.box-projetos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap:30px;
    padding: 10px 20px;
    margin: 10px ;
    text-align: left;
    width: 100%;
    max-width: 600px;
    background-color: var(--body);
    box-shadow: 1px 15px 15px rgba(0, 0, 0, 0.216);
    transition: transform 0.3s ease-in-out; 
    height: 100%;
    
  
    
   
}

.box-projetos p{
    padding: 20px;
}

.box-projetos:hover{
    box-shadow: 1px 15px 15px #28282876;
    transform: scale(1.03);
}

.box-projetos .imagem-projeto{
  object-fit: cover;
    width: 100%;
   
   
}


.box-projetos ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 10px;
    margin: 0 auto;
    width: 100%;

}

.box-projetos ul li img{
    width: 35px;
}



.boxlinkBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 50px;
    width: 100%;
    padding: 30px;
    
}


.btnDeploy button{
    background-color: #FF9505;
    color: #F4F4ED;
    border: 2px solid #FF9505;
    font-size: 16px;
    padding: 10px 20px;
    text-align: center;
    height: 100%;
    width: 100%;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
       
}

.btnRepositorio button{
    background-color: #FF9505;
    color: #F4F4ED;
    border: 2px solid #FF9505;
    font-size: 16px;
    padding: 10px 20px;
    text-align: center;
    height: 100%;
    width: 100%;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
  
}

.btnDeploy, .btnRepositorio, button:hover{
    background-color: white;
 
   
    color: #FF9505;
    object-fit: contain;
}

.boxBtn2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-transform: uppercase;
    padding: 40px;

    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    animation: heartbeat 1.5s ease-in-out infinite both;
}

/*Cards fim*/


  
  /*footer Inicio*/  


footer{
    background-color: #263138;
    height: 20vh;
    padding: 20px;
    width: 100%;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer a {
    color: #FF9505
}



@media (max-width: 768px) {

    header{
        background-color: whitesmoke;
        border: 1px solid rgba(55, 55, 55, 0.277);
        width: 100%;
        margin-bottom: 100px;
    }

        header nav{
            flex-direction: column;
            padding: 10px 20px;
            margin: 0 auto;
            gap: 20px;
            font-size: 20px
        }

        header nav img{
            object-fit: contain;
            
        }

        header nav ul  {
          margin: 0 auto;
          font-size: 16px
        }

        .sobre {
            height: 100vh;
            
        }

        .setabaixo{
            padding: 50px;
            height: 50vh;
        }

       

    .texto-sobre{
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 30px;
        text-align: center;
    }

   

  
    .imagem {
        display: none;
        
    }

   .skills{
    margin: 0 auto;
    gap: 5;
    width: 350px;
    
   }

    .tecnologias{
      
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        margin: 10px auto;
        
    }

    .Meus-projetos{
            margin: 0 auto;
            justify-content: center;
    }

    .box-projetos{
      max-width: 650px;
      height: auto;
       
    }

    .box-projetos .imagem-projeto{
        height: 100%;
    }

   
  .boxlinkBtn{
    width: 100%;
   padding: 50px;
   gap: 50px;
   align-items: center;
  }

  .btnDeploy button , .btnRepositorio button{
    height: auto;
    width: auto;
    padding: 10px 40px;
    font-size: 25px;  
  }

 


}

@media (max-width: 480px){
  
   

   .sobre .texto-sobre h1{
       text-align: center;
      font-size: 2.2em;
      width: 100%;

    }

 

    .boxBtn{
       flex-direction: column;
       width: 100%;
       height: auto;
      
       
    }
    
    .boxBtn .btn1, .btn2{
        font-size: 16px;
        text-align: center;
        width: 100%;
        flex-direction: column;
        
          
    }

   


    .boxlinkBtn{
       flex-direction: column;
       padding: 25px;
      }

      .btnDeploy button , .btnRepositorio button{
        padding: 10px 20px;
        font-size: 18px;  
      }
  
}



/*footer fim*/